.table-escolha-lugares {
    padding: 0rem 3rem;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;

    .lugares {
        tbody {
            tr {
                &:nth-child(even) {
                    background: #FFF;
                }
            }
        }
    }

    @include md {
        padding: .75rem 0;

        .lugares {
            margin: 0 auto;

            tr {
                border-bottom: none;
                margin-bottom: 0;
            }

            td {
                border-bottom: none;
                display: table-cell;
            }
        }
    }
}



.grama {
    width: 100%;
    height: 33px;
    line-height: 40px;
    border-top: 2px solid #04b46b;
    border-left: 2px solid #04b46b;
    border-right: 2px solid #04b46b;
    color: #090;
    text-align: center;
    text-transform: uppercase;
    @include font(1.8rem, 700, 1.4em);
    background: #FFF;
}

.setor {
    padding: 1.6rem 0;
    @include flex(row, center, center, center);

    h2 {
        font-size: 1.8rem;
        color: $secondary-01;
        margin: 0 .8rem;
    }

    .btn-view {
        margin: 0 .8rem;
    }

    .modal {
        padding-right: 0;

        .modal-dialog {
            max-width: 50%;
        }

        .modal-header {
            position: relative;
            border: none;
            background: $white-01;

            .close {
                width: auto;
                height: auto;
                background: none;
                border: none;
                padding: 0;
                top: 50%;
                transform: translateY(-50%);

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .modal-body {
            img {
                max-height: 700px;
                max-width: 100%;
                object-fit: contain;
            }
        }

        @include md {
            .modal-dialog {
                max-width: 80%;
            }
        }

        @include sm {
            .modal-dialog {
                max-width: 100%;
            }
        }
    }
}

.left {
    float: left;
    text-align: right;

    @include md {
        text-align: left;
    }
}

.right {
    float: right;
    text-align: left;

    @include md {
        text-align: right;
    }
}

.clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    &::before {
        content: " ";
        display: table;
    }
}

.contain,
.wrap {
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.contain {
    background: #fff;
    height: 100%;
}

.numbers {
    width: 30px;
}

.fader {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}

.fluid,
.cadeiras {
    height: 100%;
}

.fluid {
    padding: 0 30px;
    margin-bottom: 15px;
}

.cadeiras {
    overflow-x: scroll;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #dfdfdf;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-01;
        border-radius: 4px;
        transition: all .3s ease-in;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $primary-dark;
        transition: all .3s ease-in;
    }
}

.inner {
    display: inline-block;
    margin: 10px;
}

#faded-Left {
    left: 30px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#faded-Right {
    right: 30px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.filas {
    display: block;
    font-weight: bold;

    ul {
        margin: 0;
        padding: 8px 0;
        list-style: none;
        font-size: 17px;
        height: auto;

        li {
            height: 20px;
            padding: 2px;
            font-weight: 900;
            margin-bottom: .4rem;
            list-style: none;
        }
    }
}

.seat-available div,
.seat-not-available div,
.seat-badvis div,
.seat-empty div,
.seat-not-applicable div {
    height: 20px !important;
    width: 20px !important;
    border-radius: 2px;
    cursor: pointer;
}

.seat-cursel div {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    cursor: pointer;
    background: $primary-01;
    border: $primary-01 solid 1px;
}

.seat-available div {
    background: #fff;
    border: #000 solid 1px;
}

.seat-not-available div {
    background: #000;
    border: #000 solid 1px;
}

.seat-badvis div {
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(to right, #777 0%, #777 51%, #fff 51%, #fff 100%);
    border: 1px solid #000;
}

.seat-empty div {
    border-radius: 2px;
    cursor: pointer;
}

.seat-not-applicable div {
    background: #ccc;
    border: #000 solid 1px;
    cursor: not-allowed !important;
}

.lugares {
    margin: 0;
}

.lugares td {
    padding: 2px !important;
}

.seat-selected div {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    cursor: pointer;
    background: $primary-02;
    border: $primary-02 solid 1px;
}

.seat-selother div {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    cursor: pointer;
    background: #F44336;
    border: #F44336 solid 1px;
}

tbody>tr:last-child>td {
    border: none !important;
}

.legendas {
    @include flex(row, center, center, center);
    flex-wrap: wrap;

    li {
        line-height: 1;
        font-size: 0.62rem;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        margin-right: 1.25rem;
        margin-bottom: 5px;
        font-size: 12px;
        white-space: normal;

        &:before {
            content: '';
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-right: .4rem;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
            position: absolute;
            left: 6px;
            top: 2px;
            margin-bottom: 5px;
        }

        @include xs {
            margin-bottom: .8rem;
        }
    }

    .not-available {
        &:before {
            background: #000;
            border: #000 solid 1px;
            border-radius: 2px;
        }
    }

    .available {
        &:before {
            background: #fff;
            border: #000 solid 1px;
            border-radius: 2px;
        }
    }

    .selected {
        &:before {
            border-radius: 50%;
            background: $primary-02;
            border: $primary-02 solid 1px;
        }
    }

    .available-poor-visibility {
        &:before {
            background: linear-gradient(to right, #777 0%, #777 51%, #fff 51%, #fff 100%);
            border: 1px solid #000;
            border-radius: 2px;
        }
    }

    .not-applicable {
        &:before {
            background: #ccc;
            border: #000 solid 1px;
            border-radius: 2px;
        }
    }

    .cursel {
        &:before {
            border-radius: 50%;
            background: $primary-01;
            border: $primary-01 solid 1px;
        }
    }

    .seat-selother {
        &:before {
            border-radius: 50%;
            background: #F44336;
            border: #F44336 solid 1px;
        }
    }

    .selected-squares {
        &:before {
            background: #ffd201;
            border: #ffd201 solid 1px;
        }
    }

    .cursel-squares {
        &:before {
            background: #DA7E55;
            border: #AE783B solid 1px;
        }
    }
}

.alert-ticket {
    color: #8c0000;
    background-color: #fff;
    border-color: #000;
    border-radius: 0 !important;
    padding: 8px 15px 8px 25px !important;
}

.close {
    color: #000;
}

/*SQUARES */

.wrap-squares {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.squares-available div,
.squares-not-available div,
.squares-not-applicable div,
.squares-cursel div,
.squares-selected div,
.squares-empty div {
    height: 80px !important;
    width: 100px !important;
    border-radius: 2px;
    cursor: pointer;
}

.squares-cursel div {
    background: #DA7E55;
    border: #AE783B solid 1px;
    color: #fff;
}

.squares-available div {
    background: #fff;
    border: #000 solid 1px;
    color: #8C0000;
}

.squares-not-available div {
    background: #000;
    border: #000 solid 1px;
    color: #8C0000;
}

.squares-not-applicable div {
    background: #ccc;
    border: #000 solid 1px;
    color: #fff;
    cursor: not-allowed !important;
}

.squares-selected div {
    background: #ffd201;
    border: #ffd201 solid 1px;
    color: #fff;
}

.sq td {
    padding: 2px !important;
}

.sq p {
    font-size: 12px;
}

.squares {
    overflow-x: scroll;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 10px;
}

.fluid,
.squares {
    text-align: center;
}