.quem-somos {
  margin: 3rem 0;
  .row {
    @include flex(column, center, center, center);
  }
  p {
    width: 75%;
    @include font(1.8rem, 300, 1.6em);
  }
  @include sm {
    p {
      width: 100%;
    }
  }
}