.banner-quemSomos {
  @include sm {
    height: 17.5rem;
  }
}

.quem-somos {
  margin-bottom: 3rem;
  .row {
    @include flex(column, center, center, center);
  }
  p {
    width: 75%;
    @include font(1.8rem, 300, 1.6em);
  }
  @include sm {
    p {
      width: 100%;
    }
  }
}