.teamsBar {
  padding: 0px 0 3rem 0;
  .row {
    @include flex(row, center, center, center);
    flex-wrap: wrap;
  }
  ul {
    @include flex(row, center, center, center);
    flex-wrap: wrap;
    li {
      margin: 0 .2rem;
      padding: 3px;
    }
    a {
      display: inline-block;
    }
  }
  .list_ligas {
    padding-right: 1.5rem;
    // border-right: 1px solid #44536f;
    position: relative;
    &:before {
      content: '';
      height: 4rem;
      width: 1px;
      background-color: #44536f;
      @include absolute(50%, 0, auto, auto);
      transform: translateY(-50%);
      @include md {
        display: none;
      }
    }
    a {
      &:hover {
        img {
          transform: scale(1);
          transition: all .3s ease-in-out;
        }
      }
    }
    img {
      height: 4rem;
      transform: scale(.9);
    }
    @include md {
      width: 100%;
      margin-bottom: 1rem;
      border-right: none;
    }
  }
  .list_clubs {
    @include flex(row, center, center, center);
    flex-wrap: wrap;
    ul {
      padding: 0 1.5rem;
      img {
        opacity: 1;
      }
      .club__select {
        background-color: $white-01;
        border: 1px solid $secondary-01;
        border-radius: 50%;
        img {
          transform: scale(1);
        }
      }
      @include sm {
        padding: 0;
      }
    }
    .list_clubs_01 {
      position: relative;
      &:before {
        content: '';
        height: 4rem;
        width: 1px;
        background-color: #44536f;
        @include absolute(50%, 0, auto, auto);
        transform: translateY(-50%);
      }
      @include sm {
        margin-bottom: 1.5rem;
        &::before {
          display: none;
        }
      }
    }
    .list_clubs_02 {
      padding-right: 0;
      li {
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .tooltip {
      position: relative;
      display: inline-block;
      .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: $secondary-01;
        color: #fff;
        @include font(1.4rem, 300, 1.2em);
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: $secondary-01 transparent transparent transparent;
        }
      }
      &:hover {
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
        img {
          opacity: 1;
          transform: scale(1);
          transition: all .3s ease-in-out;
        }
      }
    }
    img {
      height: 3rem;
      transform: scale(.9);
      transition: all .3s ease-in-out;
    }
    @include md {
      width: 100%;
    }
  }
  &__header {
    display: none;
  }
}